{% extends "./base.html" %}
{% block main %}
{% load static %}

<div class="section section-contact">
    <div class="container">
        <div class="text-area">
            <div class="title">
                <h1 id="NSK">탐지 내역 조회</h1>
                <div class="separator separator-info">✻</div>
            </div>

            <div class="section section-cards">
                <div class="container-fluid">
                        <!-- 통화내역 목록 -->
                        <div class="row">
                            {% comment %} db 연결해서 리스트로 반환하기 {% endcomment %}
                            {% comment %} 페이징? {% endcomment %}
                            <div class="media">
                                {% comment %} <a href="#" class="avatar avatar-danger pull-left">
                                    <img class="media-object" src="../assets/img/faces/face_3.jpg">
                                </a> {% endcomment %}
                                <div class="media-body">
                                    <h3 id="NSK" class="media-heading">010-0000-0000</h3>
                                    {% comment %} <h3 class="text-muted pull-right">의심 내역</h3><br> {% endcomment %}
                                    <h5 id="NSK" class="text-muted pull-right">의심내역<br><br>Mar 23, 09:42 AM</h5>
                                    {% comment %} <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                    <p>Don't forget, You're Awesome!</p> {% endcomment %}
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <h3 id="NSK" class="media-heading">010-2305-3078</h3>
                                    {% comment %} <h3 class="text-muted pull-right">의심 내역</h3><br> {% endcomment %}
                                    <h5 id="NSK" class="text-muted pull-right"><br><br>Mar 23, 09:42 AM</h5>
                                    {% comment %} <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                    <p>Don't forget, You're Awesome!</p> {% endcomment %}
                                </div>
                            </div>

                            <div>
                                {% for org in orgs_list %}
                                    {% if "국번" not in org.call %}
                                        <div class="col-sm-6">
                                            <a href="{{ org.url }}" target="_blank">
                                                <div class="card card-price">
                                                    <br>
                                                    <h3 id="NSK" class="title-header text-info">{{ org.name }}</h3>
                                                    <p id="NSK" class="text-description text-gray">{{ org.call }}</p>
                                                    <br>
                                                </div>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <br>
    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}